@using System.Text.Json
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ExpensesPlanner</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized Context="auth">
                    <br />
                    <div class="nav-item px-3 d-flex flex-column align-items-center">
                        <RadzenImage Path="@profilePictureUrl" Style="width: 80px; height: 80px; border-radius: 40%" AlternateText=@auth.User.Identity?.Name />
                    
                        <RadzenLabel class="text-white mt-2" Text=@($"Welcome, {auth.User.Identity?.Name}")></RadzenLabel>
                        <br /><br />
                    </div>
                </Authorized>
            </AuthorizeView>
        </CascadingAuthenticationState>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="expenses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Expenses
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/account/users">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> All Users
            </NavLink>
        </div>

        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <RadzenButton class="nav-link" Text="Logout" Click="@(() => Logout())">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
                    </RadzenButton>
                </Authorized>


                <NotAuthorized>
                    <div class="nav-item px-3">
                        <RadzenButton class="nav-link" Text="Login" Click="@(() => OpenLoginPopup())">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                            </RadzenButton>                    
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="/account/register">
                            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>


