@using DevExpress.Blazor
@attribute [Route(PagesRoutes.Simulator)]
@rendermode InteractiveAuto
<h3>Simulator</h3>

<DxStackLayout Orientation="DevExpress.Blazor.Orientation.Vertical" ItemSpacing="20px">
    <Items>
        <DxStackLayoutItem>
            <Template>
                <DxButton RenderStyle="ButtonRenderStyle.Primary" RenderStyleMode="ButtonRenderStyleMode.Contained" 
                    Text="Simulator" />
            </Template>
        </DxStackLayoutItem>

        <!-- ProgressBar Expenses -->
        <DxStackLayoutItem>
            <Template>
                <div style="position: relative; width: 400px;">
                    <DxProgressBar Value="50" MinValue="0" MaxValue="1000" Type="ProgressBarType.Horizontal" Size="100%" Thickness="10px" ShowLabel="false"
                                   style="position:absolute; top: 0; left: 0; width: 100%; border-radius: 40px;" />

                    <RadzenSlider  TValue="int" Value="@sliderValue" Step="10" Change="@(args => sliderValue = args)"
                                  Min="0" Max="1200"
                                  Class="custom-slider" />


                    <div style="position: relative; top: 15px; font-size: 13px;">
                        <span style="position: absolute; left: 0; color: gray"> 
                            10€ (X%)
                        </span>
                        <span style="position: absolute; right: 0; color: mediumseagreen; font-weight: bold">
                            Limit: @sliderValue € (@sliderValuePercentage%)
                        </span>
                        
                    </div>
                </div>
            </Template>
        </DxStackLayoutItem>        
    </Items>
</DxStackLayout>
