@{
    ViewData["Title"] = "Create Edit Expenses";
}

@model ExpensesPlanner.Models.Expense

<div class="text-center">
    <h1 class="display-4">Create Expense</h1>
    <hr />    
</div>

<form asp-action="CreateEditExpensesForm" asp-asp-controller="Home">
    <label class="mt-4">ID</label>
    <input class="form-control" type="number" placeholder="@ViewBag.NextID" asp-for="Id" readonly />

    <label class="mt-4">Amount</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Amount" step="0.01" />

    <label class="mt-4">Description</label>
    <input class="form-control" type="text" placeholder="Add a description" asp-for="Description" />

    <button class="btn btn-success mt-4" type="submit">Submit</button>
</form>
