@{
    ViewData["Title"] = "Home Page";
}

<br />
<div class="text-center">
    <h1 class="display-4">Expenses Planner</h1>
    <hr /><br />
    <img src="https://media.istockphoto.com/id/1459911859/vector/concept-of-airfares-rising-woman-in-difficulty-pulling-her-luggage-bag-up-to-the-steep-arrow.jpg?s=612x612&w=0&k=20&c=dXTNX07ym5RIUHseseSSGA_H7hURLI52dW0VVIxZMyk=" />
</div>
