@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Expenses Planner</h1>
    <hr /><br />
    <a class="btn btn-primary" asp-action="Expenses">See all expenses</a>
    <a class="btn btn-secondary" asp-action="CreateEditExpenses">Create New</a>
</div>
